# https://pnpm.io/npmrc#verify-deps-before-run
verify-deps-before-run = 'prompt'

# Emulates POSIX shell behavior, especially in Windows. Allows setting
# enviroment variables with syntax `VAR=value` instead of `set VAR=value` and
# referencing variables with `$VAR` instead of `%VAR%`.
#
# @see {@link https://pnpm.io/cli/run#shell-emulator}
shell-emulator = true
